.recipes > a{
    text-decoration: none;
    color: white;
    background-color: #2185D0;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}
.recipes > a:hover{
    background-color: #1C71B0;
}
.recipes{
    text-align: center;
}
